

.outline {
    border: 1px solid #000;
}

.outline-dashed {
    border: 1px dashed #000;
}

.padding-top-5 {
    padding-top: 5px;
}

.background-grey {
    background-color: #CCC;
}

pre.text {
    max-height: 1000px;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}